$feldgrau: #506c64ff;
$middle-blue-green: #77cbb9ff;
$dark-sky-blue: #75b8c8ff;
$light-gray: #cdd3d5ff;
$liver: #725752ff;
$battleship-grey: #878e88ff;
$opal: #96c0b7ff;
$beige: #d4dfc7ff;
$blond: #fef6c9ff;

$xiketic: #07020dff;
$cyan-process: #5db7deff;
$eggshell: #f1e9dbff;
$grullo: #a39b8bff;
$dim-gray: #716a5cff;
$turquoise: #41EAD4;
$jet: #323031;
$alablater: #E8EDDF;
$honeydew: #e1efe6ff;

$pastel-pink: #d6a2adff;
$khaki-web: #c3b59fff;
$laurel-green: #a0af84ff;
$wintergreen-dream: #668f80ff;
$deep-space-sparkle: #4a6670ff;
$gunmetal: #022b3aff;
$metallic-seaweed: #1f7a8cff;

$antique-brass: #b98b73ff;
$antique-brass-2: #cb997eff;
$desert-sand: #ddbea9ff;
$champagne-pink: #ffe8d6ff;
$bone: #d4c7b0ff;
$ash-gray: #b7b7a4ff;
$artichoke: #a5a58dff;
$ebony: #6b705cff;
$black-olive: #3f4238ff;

$grey-0: #FAFAFAFA;
$grey-1: #f8f9faff;
$grey-2: #e9ecefff;
$grey-3: #dee2e6ff;
$grey-4: #ced4daff;
$grey-5: #adb5bdff;
$grey-6: #6c757dff;
$grey-7: #495057ff;
$grey-8: #343a40ff;
$grey-9: #212529ff;

$blue-0: #caf0f8ff;
$blue-1: #ade8f4ff;
$blue-2: #90e0efff;
$blue-3: #48cae4ff;
$blue-4: #00b4d8ff;
$blue-5: #0096c7ff;
$blue-6: #0077b6ff; // focus
$blue-7: #023e8aff;
$blue-8: #03045eff;
