// scheme:
// https://coolors.co/1c0f13-6e7e85-b7cece-bbbac6-e2e2e2

// $xiketic: #220c10ff;
$feldgrau: #506c64ff;
$middle-blue-green: #77cbb9ff;
$dark-sky-blue: #75b8c8ff;
$light-gray: #cdd3d5ff;

// // https://coolors.co/725752-878e88-96c0b7-d4dfc7-fef6c9
$liver: #725752ff;
$battleship-grey: #878e88ff;
$opal: #96c0b7ff;
$beige: #d4dfc7ff;
$blond: #fef6c9ff;

$xiketic: #07020dff;
$cyan-process: #5db7deff;
$eggshell: #f1e9dbff;
$grullo: #a39b8bff;
$dim-gray: #716a5cff;

html {
  background: $eggshell;
  color: $xiketic;
  font-size: 23px;
  line-height: 1.4;
}

.base-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: right;
  margin: 0em 5em;
}

a {
    text-decoration: none;
    color: green;
}

p>code {
    background: $light-gray;
    padding: 0em 0.5em;
    margin: 0em 0.1em;
}

#brand a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.navbar a {
  color: $liver;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  padding: 0em 0em 0em 0em;
  //border-bottom: 2px solid grey;
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
}

.nav-item {
  list-style: none;
  margin: 0em 0.5em;
}

.nav-item-active > a {
    color: red;
}

.content-container {
  display: flex;
  flex-flow: column wrap;
}

pre {
  line-height: 1.4;
  overflow-y: auto;
  padding: 1em;
  margin: 0em 3em;
}



.page-sidebar {
    display: flex;
    flex-wrap: wrap;
}

ul.sidebar {
    font-weight: bold;
    padding: 1em 0em 0em 0.5em;
    margin: 0em 1em 0em 0em;
    //border-right: 2px solid grey;
}

ul.sub-sidebar {
    padding: 0em 0em 0em 1.5em;
    font-weight: normal;
}

li.section-title {
    list-style-type: none;
}

li.section-title>a {
    text-decoration: none;
    color: $xiketic;
}

li.section-title-focus>a:first-child {
    color: red;
}

.main {
    padding: 1em 0em 0em 0.5em;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: 0em 0em 0em 1em;
}

.output {
    font-family: monospace;
    white-space: pre-wrap;
}


// Homepage

.homepage>* {
    padding: 0em 3em;
}

.homepage>pre {
    padding: 1em 1em 1em 1em;
}

.intro {
  padding: 2em;
  font-size: 30px;
  text-align: center;
}

.intro-note {
  padding: 5vh 3vw;
  margin: 0em 5em;
  text-align: left;
  background: $opal;
}

.index-button {
    display: flex;
    justify-content: center;
    padding: 0em 1em 1em 0em;
}

.index-button a {
    color: black;
    background-color: $grullo;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0em 0.5em;
    text-decoration: none;
}

.index-button a:hover {
    background: $cyan-process;
}

blockquote {
    border-left: 8px solid grey;
    color: grey;
    padding: 10px;
    text-align: left;
    font-style: italic;
}

.manual-code {
    padding: 0em;
}
