@import 'colors';
@import 'navbar';
@import 'sidebar';
@import 'box';

html {
    background-color: $grey-0;
    color: $grey-9;
    font-size: 23px;
    line-height: 1.6;
    font-family: arial;

    a {
        text-decoration: none;
        color: $grey-9;

        code {
            background: $grey-3;
            padding: 0.1em 0.25em;
            border-radius: 5px;
        }
    }


}

.main a {
    color: $blue-7;
    border-bottom: 3px $blue-7 solid;
}

.main a:hover {
    color: $blue-8;
    border-bottom: 3px $blue-8 dashed;
}

.base-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: right;
  margin: 0em 5em;
}


p > code {
    background: $grey-3;
    padding: 0.1em 0.25em;
    border-radius: 5px;
}


li > code {
    background: $grey-3;
    padding: 0em 0.5em;
    margin: 0em 0.1em;
    border-radius: 5px;
}


.nav-list {
  display: flex;
  flex-flow: row wrap;
}

.nav-item {
  list-style: none;
  margin: 0em 0.5em;
}


.content-container {
  display: flex;
  flex-flow: column wrap;
}


pre {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  line-height: 1.4;
  overflow-y: auto;
  padding: 1em;
  margin: 0em 3em;
}



.main {
    padding: 1em 0em 0em 0.5em;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: 0em 0em 0em 1em;
}

.main > * {
  margin: 0.5em 5px;
}

.output {
    font-family: monospace;
    white-space: pre-wrap;
}


// Homepage

.homepage>* {
    padding: 0em 3em;
}

.homepage>pre {
    padding: 1em 1em 1em 1em;
}

.intro {
  padding: 2em;
  font-size: 30px;
  text-align: center;
}

.index-button {
    display: flex;
    justify-content: center;
    padding: 0em 1em 1em 0em;
}

.index-button a {
    background-color: $blue-3;
    color: $grey-9;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0em 0.5em;
    text-decoration: none;
}

.index-button a:hover {
    background-color: $blue-5;
}

blockquote {
    border-left: 8px solid $grey-6;
    color: $grey-6;
    padding: 10px;
    text-align: left;
    font-style: italic;
}

.manual-code {
    padding: 0em;
}

// editor

.editor {
  display: flex;
  flex-flow: column wrap;
  padding: 0.5em;
  //background: $blond;
}

.input-output-container {
    display: flex;
    width: 100%;
}

.input-container {
  width: 50%;
  margin: 0em 0.25em 0em 0.5em;
}

.input-container > textarea {
  font-size: 23px;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 1em;
  background: $jet;
  color: white;
  line-height: 1.4;
  overflow-x: auto;
  overflow-y: scroll;
  overflow-wrap: nowrap;
}


.output {
  background: $alablater;
  border: 2px solid grey;
  padding: 1em;
  overflow: auto;
  width: 50%;
  margin: 0em 0.5em 0em 0.25em;
}

.update-button {
    font-size: 23px;
    width: 5em;
    background: $blue-3;
    margin: 0em 0.5em;
}

.update-button:hover {
    background: $blue-5;
    color: white;
}

.nav-row {
    display: flex;
    flex-flow: row;
}

.nav-box {
    width: 50%;
    padding: 1em;
    font-size: 27px;

    a {
        color: $blue-5;
    }

    a:hover {
        color: $blue-6;
    }
}

.nav-next {
    text-align: right;
}





sup {
    font-size: 15px;
}

.index-graph {
    display: flex;
    justify-content: space-around;
}

.mermaid-container {
    padding: 10px;
}
