<div>
  <textarea id="{{ id }}-input" name="" cols="30" rows="10"></textarea>
  <div id="{{ id }}-output" class="output" style="monospace">
    a
  </div>
  <button id="{{ id }}-button">update</button>
  <div id="app"></div>
  <script>

    document.getElementById("{{ id }}-button").addEventListener("click", update, false);

    function update() {
      var input = document.getElementById("{{ id }}-input").value;
      document.getElementById("{{ id }}-output").innerHTML = input;
    }

  </script>
</div>
