<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>REAM</title>

  <link rel="stylesheet" type="text/css" href="{{ get_url(path="style.css") }}">

  <script type="module" src="{{ get_url(path="js/bundle.js") }}"></script>
  <script>
    function auto_grow(element) {
      element.style.height = "5px";
      element.style.height = (element.scrollHeight)+"px";
    };
  </script>

</head>

<body>
  <div class="base-container">

    {% include "navbar.html" %}

    {% block newnav %}{% endblock newnav %}

    <div class="content-container">
      {% block content %}
      {% endblock %}
    </div>

  </div>

  <script>
    document.querySelectorAll(".input").forEach(textarea => {
      //let input_array = textarea.value.split('\n');
      //input_array.shift();
      //input_array.pop();
      //const input = input_array.join("\n");
      //textarea.value = input;
      auto_grow(textarea)
    });
  </script>
  <script>

    let boxDetailContent = document.querySelectorAll(".box-detail-content")
    boxDetailContent.forEach(content => {
      content.style.display = 'none'
    })

    let buttons = document.querySelectorAll(".toggle-detail")

    buttons.forEach(button => button.addEventListener('click', event => {
      const id = event.target.id
      const contentId = `${id}-content`
      const content = document.getElementById(contentId)
      const state = event.target.innerHTML
      if (state === 'show') {
        button.innerHTML = 'hide'
        content.style.display = 'block'
      } else {
        button.innerHTML = 'show'
        content.style.display = 'none'
      }
    }))
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({startOnLoad:true});</script>
</body>

</html>
