{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="homepage">

    <div class="intro">
        Data language for creating maintainable and interoperable social science datasets
    </div>

    <div class="index-button">
        <a href="/overview/why-ream">Why REAM</a>
        <a href="/tutorial/getting-started">Get Started</a>
    </div>

    <div class="description">
        <p>
        </p>
    </div>

    <div class="intro-quote">
        <blockquote>
            It reads like Markdown, writes like Markdown, converts like Markdown.
            Is it Markdown?
        </blockquote>

        <blockquote>
            <b>RE</b>AM <b>A</b>int <b>M</b>arkdown!
        </blockquote>
    </div>

    {{ macros::code(input="```ream
# Country
- name: Belgium
- capital: Brussels
- population: $11433256$
  > data from 2019; retrieved from World Bank
- euro zone: `TRUE`
  > joined in 1999
- list:
  * a
  * string
  * $123$
  * `FALSE`

## Language
- name: Dutch

## Language
- name: French

## Language
- name: German") }}

</div>




{% endblock content %}
