{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="homepage">

    <div class="intro">
        Data language for creating maintainable social science datasets
    </div>

    <div class="index-button">
        <a href="/overview/why-ream">Why REAM</a>
        <a href="/tutorial/getting-started">Get Started</a>
    </div>

    <div class="description">
        <p>
        </p>
    </div>

    <div class="box note">
        <div class="box-heading">NOTE</div>
        <p>
            The project is under active development and is not production ready.
            You are free to play around with the language and tools, but note that backward compatibility is not guaranteed.
        </p>

        <p>
            Migrating from the <a href="https://chmlee.github.io/ream-doc">old documentation</a> is a work in progress;
            information and features may be missing.
            <a href="/contribution">
                All contributions are welcome.
            </a>
        </p>
    </div>

    <div>
        <p>
            REAM is an alternative to spreadsheets and databases for managing social science datasets.
            It has three main components:
            <ol>
                <li>
                    a <em>data serialization language</em> for structured datasets (working in progress)
                </li>
                <li>
                    a <em>data template language</em> to generate datasets (planned)
                </li>
                <li>
                    a collection of <em>filters</em> to manipulate data (planned)
                </li>
            </ol>
        </p>
        <p>
          REAM encourages inline documentation through <a href="#">annotations</a>, and compiles to both analysis-ready <b>datasets</b> (CSV, JSON, etc.) and human-readable <b>documentations</b> (HTML, PDF, etc.)
          Two formats, one source.
        </p>
        <p>
          The language, along with the <a href="/toolchain">toolchain</a>, aims to help social scientists build human-readable, modular and interoperable datasets for social science, ranging from small personal projects to large collaborative projects.
        </p>
    </div>

    <div class="intro-quote">
        <blockquote>
            It reads like Markdown, writes like Markdown, converts like Markdown.
            Is it Markdown?
        </blockquote>

        <blockquote>
            <b>RE</b>AM <b>A</b>int <b>M</b>arkdown!
        </blockquote>
    </div>

    {{ macros::code(input="```ream
# Country
- name: Belgium
- capital: Brussels
- population: $11433256$
  > data from 2019; retrieved from World Bank
- euro_zone: `TRUE`
  > joined in 1999
- offical_languages:
  * Dutch
  * French
  * German

## Language
- name: Dutch
- size: $0.59$

## Language
- name: French
- size: $0.4$

## Language
- name: German
- size: $0.01$
```") }}

</div>

<br>


{% endblock content %}
