{% set root = get_section(path="_index.md")%}
{% if page %}
  {% set current_title = page.components | first %}
{% else %}
  {% set current_title = "" %}
{% endif %}

<nav class="navbar">
  <div class="brand">
    <a href="/">REAM</a>
  </div>
  <ul class="nav-list">
  {% for subsection in root.subsections %}
    {% set item = get_section(path=subsection)%}
    {% set title = item.components | first %}
      <li class="nav-item {% if title == current_title %}nav-item-active{% endif %}">
        <a href="{{ item.path }}">
          {{ item.title }}
        </a>
      </li>
  {% endfor %}
      <li class="nav-item github">
        <a href="https://github.com/chmlee/ream-core">GitHub</a>
      </li>
  </ul>
</nav>
