{% extends "base.html" %}
{% import "macros.html"  as macros %}

{% block content %}


<div class="page-sidebar">

    <ul class="sidebar">
        {% set parent = page.ancestors | last %}
        {% set section = get_section(path=parent) %}
        {% set current_page = page.title%}
        {% for page in section.pages %}

            {% if page.title == current_page %}
                {% if page.extra.level %}
                    {% set level = page.extra.level %}
                {% else %}
                    {% set level = 2 %}
                {% endif %}

                <li class="sidebar-item sidebar-item-focus">

                    <a href="{{ page.permalink }}">{{ page.title }}</a>

                    <ul class="header-container">
                        {{ macros::active_sidebar(toc=page.toc, level=level) }}
                    </ul>

                </li>

            {% else %}

                <li class="sidebar-item">
                    <a href="{{ page.permalink }}">{{ page.title }}</a></li>
                </li>

            {% endif %}

        {% endfor %}
    </ul>

    <div class="main">
        <h1 class="title">
          {{ page.title }}
        </h1>
        <p class="subtitle"><strong>{{ page.date }}</strong></p>

        {{ page.content | safe }}

        <div class="nav-row">
            <div class="nav-box nav-previous">
                {% if page.lighter %}
                    Previous:
                    <a class="next" href="{{ page.lighter.permalink }}">
                        {{ page.lighter.title }}
                    </a>
                {% endif %}
            </div>

            <div class="nav-box nav-next">
                {% if page.heavier %}
                    Next:
                    <a class="next" href="{{ page.heavier.permalink }}">
                        {{ page.heavier.title }}
                    </a>
                {% endif %}
            </div>

        </div>
    </div>


</div>

{% endblock content %}
